<div>

    <div>
        <button id="pcbutton" (click)="toggleProducts()" >Category</button>
        <div>
            <input type="text" id="pcinput" placeholder="Search Category" [(ngModel)]="listFilter"> 
        </div>
        <select id="pcdropdown" (change)="filterTable()"  *ngIf ='showProducts'>
            <option class="clist" >Bat</option>
            <option class="clist" >Gloves</option>
            <option class="clist" >Helmet</option>
            <option class="clist" >Gaurd</option>
        </select> 
    </div>   

<table class="table" *ngIf="products.length" id="productsTable" #myDiv>
    <thead>
        <th>select</th>
        <th>
            <button (click)="toggleImage()">{{showImage ? 'Hide' : 'Show'}} Image</button>
        </th>
        <th>Product</th>
        <th>Code</th>
        <th>Available</th>
        <th>Price</th>
        <th>Rating</th>
    </thead>
    <tbody >       
        <tr *ngFor="let product of filteredProducts"> 
            <input type="checkbox" (click)="addToCart()" >
            <td>
                <img *ngIf ='showImage'
                    [src]="product.imageUrl"
                    [style.width.px]="imageWidth"
                    [style.margin.px]="imageMargin">
            </td>
            
            <td>{{product.productName | lowercase}}</td>
            <td>{{product.productCode | convertToSpace:'-'}}</td>
            <td>{{product.releaseDate}}</td>
            <td id="price">{{product.price}}</td>
            <td><pm-star [rating]="product.starRating"
                (ratingClicked)="onRatingClicked($event)" ></pm-star>
            </td>


        </tr>
    </tbody>


</table>
</div>
<div>
    <textarea id="addedToCart" >{{finalPrice}}</textarea>
</div>

